---
import type { PersonalInfo, SocialProfile } from "../../data";

export interface Props {
  name: PersonalInfo["name"];
  email: SocialProfile["url"];
}

const { name, email } = Astro.props;
---

<section class="mt-8 md:mt-16 mb-16 md:mb-32">
  <p class="text-lg text-gray-800 dark:text-gray-100">Hello there 👋, I'm</p>
  <div
    aria-hidden="true"
    class="circle-radial-gradient w-[200px] h-[200px] md:w-[350px] md:h-[350px] absolute top-[150px] md:top-[100px] left-[50px] lg:left-[calc(calc(100vw-1112px)/2)] scale-150 dark:opacity-[.12] opacity-20 -z-10 overflow-hidden mix-blend-normal transition-opacity"
  >
  </div>
  <h1
    class="font-montserrat font-extrabold text-transparent ld:pb-5 pb-5 text-6xl md:text-8xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 my-8 h-auto md:h-[120px] break-words md:break-normal fadeInBottom"
  >
    {name}
  </h1>
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Dedicated and skilled cyber security professional with a diverse skill set in programming,</br> network administration, and security.
  </p>
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Seeking opportunities to use my expertise to enhance an organization's security posture</br> and further develop my skills in this exciting field.

  </p>
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Enthusiastic about exploring advanced cybersecurity concepts, ethical hacking, and continuous learning.
  </p>
  <br />
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Passion for coding, automation, tech.
  </p>
  <br />
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Available for freelance or full time work. If you have a project that You want to get
    started, think You need my help with something,
    then <a
      class="text-indigo-600 dark:text-indigo-300 text-lg"
      href={`mailto:${email}`}>get in touch</a
    >.
  </p>
</section>

<style lang="css">
  .circle-radial-gradient {
    background: radial-gradient(circle, #a855f7 0, rgba(161, 252, 70, 0) 71%);
  }
</style>
