---
import { Icon } from "astro-icon";
import type { Project } from "@data";
import Badge from "./ui/Badge.astro";

export interface Props {
  project: Project;
}

const { project } = Astro.props;
const { name, description, techStackAndTools } =
  project;


---

<article
  class="border border-slate-300 dark:border-slate-700 rounded-lg shadow-md bg-slate-100 dark:bg-slate-800"
>
  <div class="p-5">
    {
      description.map((v) => (
        <p
          class="font-normal text-gray-700 dark:text-gray-400 [&:not(:last-child)]:mb-3"
          set:html={v}
        />
      ))
    }
    <div class="flex flex-row gap-2 flex-wrap mt-6">
      {techStackAndTools.map((v) => <Badge content={v} />)}
    </div>
  </div>
</article>

<style lang="css">
  [astro-icon] {
    width: 1rem;
  }
</style>
